<a href="https://colab.research.google.com/github/islamicity24/PythonCity/blob/main/Pivot_table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Membuat dataframe dengan data penjualan
data = {
    'Tahun': [2020, 2020, 2021, 2021],
    'Bulan': ['Januari', 'Februari', 'Januari', 'Februari'],
    'Produk': ['A', 'B', 'A', 'B'],
    'Penjualan': [1000, 1500, 2000, 2500]
}

df = pd.DataFrame(data)

# Membuat Pivot Table
pivot_table = df.pivot_table(index=['Tahun', 'Bulan'], columns='Produk', values='Penjualan', aggfunc='sum')

print(pivot_table)

Produk               A       B
Tahun Bulan
2020  Februari     NaN  1500.0
      Januari   1000.0     NaN
2021  Februari     NaN  2500.0
      Januari   2000.0     NaN